import multiprocessing

bind = '{{ gunicorn_host }}:{{ gunicorn_port }}'
workers = {{ gunicorn_workers }}
worker_class = '{{ gunicorn_worker_class }}'

user = '{{ service_user }}'
group = '{{ service_group }}'

reload = {{ gunicorn_autoreload }}
loglevel = '{{ gunicorn_loglevel }}'
