# -*- coding: utf-8 -*-
# secrets: api keys, credentials, etc
from __future__ import unicode_literals

SECRET_KEY = '{{ django_secret_key }}'

EMAIL_HOST_PASSWORD = ''

DATABASE_NAME = '{{ db_name }}'
DATABASE_USER = '{{ db_user }}'
DATABASE_PASSWORD = '{{ db_password }}'

{% if more_secrets|default([]) %}
{% for data in more_secrets %}
{% for key, value in data.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
