# -*- coding: utf-8 -*-
# secrets: api keys, credentials, etc
from __future__ import unicode_literals

SECRET_KEY = '{{ django_secret_key }}'

EMAIL_HOST_PASSWORD = ''

DATABASE_NAME = '{{ db_name }}'
DATABASE_USER = '{{ db_user }}'
DATABASE_PASSWORD = '{{ db_password }}'

{% if use_sentry %}
RAVEN_CONFIG_PUBLIC_KEY = '{{ sentry_public_key }}'
RAVEN_CONFIG_SECRET_KEY = '{{ sentry_secret_key }}'
{% endif %}

{% if more_secrets|default([]) %}
{% for data in more_secrets %}
{% for key, value in data.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
