[group:{{ service_name }}]
programs = django{% if use_celery %}, celery{% endif %}

[program:django]
environment =
    DJANGO_SETTINGS_MODULE={{ django_settings_module }},
    HOME={{ service_user_home }},
    LANG=en_US.UTF-8, LC_ALL=en_US.UTF-8, LC_LANG=en_US.UTF-8
directory = {{ install_path }}
user = {{ service_user }}
{% if use_gunicorn %}
command = {{ virtualenv_path }}/bin/gunicorn
    -c {{ install_path }}/gunicorn.conf
    --error-logfile {{ service_log_path }}/gunicorn-error.log
    --access-logfile {{ service_log_path }}/gunicorn-access.log
    wsgi:application
{% elif use_uwsgi %}
command = {{ virtualenv_path }}/bin/uwsgi
	--ini {{ install_path }}/uwsgi.ini
	--die-on-term
{% endif %}
stdout_logfile = {{ supervisor_log_path }}/%(group_name)s-%(program_name)s.log
redirect_stderr = true
autostart = true

{% if use_celery %}
[program:celery]
environment =
    DJANGO_SETTINGS_MODULE={{ django_settings_module }},
    LANG=en_US.UTF-8, LC_ALL=en_US.UTF-8, LC_LANG=en_US.UTF-8
directory = {{ install_path }}
user = {{ service_user }}
command = {{ virtualenv_path }}/bin/celery worker
    -A {{ service_name }}
    -l {{ celery_worker_loglevel }}
    -Q {{ celery_default_queue }}
    -n %(group_name)s-worker
    -B
stdout_logfile = {{ supervisor_log_path }}/%(group_name)s-%(program_name)s.log
redirect_stderr = true
autostart = true
{% endif %}
