<VirtualHost *:80>
    Include /etc/apache2/sites-enabled/{{ service_name }}.app
</VirtualHost>

<VirtualHost *:443>
    SSLEngine on
    SSLCertificateFile      {{ ssl_path }}/server.crt
    SSLCertificateKeyFile   {{ ssl_path }}/server.key

    Include /etc/apache2/sites-enabled/{{ service_name }}.app
</VirtualHost>

# https://mozilla.github.io/server-side-tls/ssl-config-generator/
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLHonorCipherOrder     on
SSLCompression          off
# only available in >= 2.4.12
#SSLSessionTickets       off
