---

- name: run migrations
  django_manage: >
    command=migrate
    app_path={{ install_path }}
    virtualenv={{ virtualenv_path }}
    settings={{ django_settings_module }}
  tags: django_migrate

- name: collect static files
  django_manage: >
    command="collectstatic"
    app_path={{ install_path }}
    virtualenv={{ virtualenv_path }}
    settings={{ django_settings_module }}
  tags: django_collectstatic

- name: make messages
  django_manage: >
    command="makemessages --all --symlinks --extension=html,py,txt --no-wrap"
    app_path={{ install_path }}
    virtualenv={{ virtualenv_path }}
    settings={{ django_settings_module }}
  environment:
    LANG: "en_US.UTF-8"
    LC_ALL: "en_US.UTF-8"
  tags:
    - django_makemessages

- name: compile messages
  django_manage: >
    command="compilemessages"
    app_path={{ install_path }}
    virtualenv={{ virtualenv_path }}
    settings={{ django_settings_module }}
  tags:
    - django_makemessages
    - django_compilemessages

- name: create initial revisions for reversion
  django_manage: >
    command="createinitialrevisions"
    app_path={{ install_path }}
    virtualenv={{ virtualenv_path }}
    settings={{ django_settings_module }}
  tags: django_initialrevisions
  when: use_reversion

- name: add virtualenv postactivate hook to set correct django settings module
  template: >
    src="virtualenv/postactivate.j2"
    dest={{ virtualenv_path }}/bin/postactivate"
    backup=yes

- name: add virtualenv postdeactivate hook to unset django settings module
  template: >
    src="virtualenv/postdeactivate.j2"
    dest={{ virtualenv_path }}/bin/postdeactivate"
    backup=yes
